/* styling for smaller screen sizes */
@media screen and (max-width: 700px) {
    .navigation>* {
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }

    .three_col_grid {
        display: block;
        margin: auto;
    }

    .three_col_grid>* {
        margin: 10px auto;
    }

    .three_col_img {
        width: calc((90vw - 20px));
        height: calc((90vw - 20px));
    }

    .three_col_img img {
        height: 90vw;
        transition: all 1s ease-in-out;
    }

    /*User Reviews two column grid */
    .user_two_col_grid {
        display: block;
        margin: auto;
    }

}

/* styling for larger screen sizes */
@media screen and (min-width: 701px) {
    .navigation>* {
        display: inline-block;
        margin-right: 10px;
    }

    .three_col_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .three_col_img {
        width: calc((90vw - 20px)/3);
        height: calc((90vw - 20px)/3);
    }

    .three_col_img img {
        height: 30vw;
        transition: all 1s ease-in-out;
    }

    /*User Reviews two column grid */
    .user_two_col_grid {
        display: grid;
        column-span: 3;
        grid-template-columns: 1fr 1fr;
    }

}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90vw;
    margin: auto;
}

body>div {
    margin-top: 10px;
}

.header_grid {
    background-image: url("images/clouds1.jpg");
    background-color: #cccccc;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    border: 2px solid #2b3990;
    padding: 10px;
}

#logo {
    width: 150px;
}

#tagline {
    font-family: 'Gwendolyn', cursive;
    font-size: 50px;
    text-align: right;
    margin: auto 0px;
}

.navigation a {
    height: 30px;
    border: 2px solid #2b3990;
    padding: 5px;
    border-radius: 5px;
    color: #2b3990;
    text-decoration: none;
    font-size: 1.5em;
}

.navigation a:hover {
    background-color: #2b3990;
    color: white;
}

.navigation p {
    font-family: 'Gwendolyn', cursive;
    font-size: 2em;
}

#large_display {
    border: 2px solid #2b3990;
}

/* Reviews page header image */
.index_header img {
    width: 90vw;
    height: 20vw;
    object-fit: cover;
}


.recipe_header img {
    width: calc((90vw - 4px) / 3);
    height: 20vw;
    object-fit: cover;
}

.two_col_grid {
    display: grid;
    column-span: 3;
    grid-template-columns: 1fr 1fr;
}

.three_col_grid>* {
    border: 2px solid #2b3990;
}

.three_col_img {
    overflow: hidden;
    position: relative;
}

.three_col_img img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

.img_text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    transform: translate(-50%, -50%);
    color: white;
    background: #2b3990;
    pointer-events: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Gwendolyn', cursive;
}

#news {
    grid-column: 2/-1;
}

#footer_details {
    margin-top: 10px;
    border: none;
    text-align: center;

}



.chefnews {
    padding: 25px;
    align-items: center;

}

#video {
    padding: 10px;
    padding-bottom: 30px;

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;


}

.gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding-left: 100px;


}

.gallery img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 8vw;
}

/* Reviews page remove bullets */
#reviewsUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Reviews page header image */
.review_header img {
    width: 90vw;
    height: 20vw;
    object-fit: cover;
}

/* Reviews page right side content */
.reviewnews {
    grid-column: 2/-1;
}

/* Star Rating for User Review Webform code credit goes to https://codepen.io/WebKitCoding/pen/ZEWZJoG */

.rating-css div {
    color: #a8a267;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;

    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input {
    display: none;
}

.rating-css input+label {
    font-size: 20px;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
}

.rating-css input:checked+label~label {
    color: #838383;
}

.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

/*End Star Rating for User Review form*/

/*Styling Fieldboxes User Review Webform*/
.form-input {
    margin: 0 2.5rem 1.2rem 2rem;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

textarea {
    width: 100%;
    min-height: 6rem;
    resize: vertical;
}

.buttonclick {
    border: 2px solid #2b3990;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    cursor: pointer;
}

/*End styling Fieldboxes User Review Webform*/

#large_display1 {
    background-image: url("images/silverbg.jpg");
    filter: opacit;
    border: 2px solid #2b3990;
    background-color: #E0E0E0;
    display: grid;
    grid-template-columns: auto auto;
}

div.chef {
    margin-left: 3em;
}

h2.chef-title {
    color: white;
    text-align: center;
}

img.chef-img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

p.chefnews {
    color: white;
    text-align: center;
}

.links a {


    color: white;
}

.three_col_grid a {
    color: #2b3990;
}

/*Styling of individual event boxes*/
.eventList {
    position: relative;
    box-sizing: border-box;
    flex-flow: column wrap;
    justify-content: center;
}

.eventList ul {
    padding: 0px;
    margin: 1em;
    box-sizing: border-box;
}

.eventList ul li {
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
}

.eventList ul li .date {
    box-sizing: border-box;
    padding: 20px;
    background: #2b3990;
    color: #f1f1f1;
    float: clear;
    text-align: center;
    font-size: 1.2rem;
}

.dateandtime {
    font-weight: bold;
}
/*End Styling of individual event boxes*/