
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90vw;
    margin: auto;
}

body > div {
    margin-top: 10px;
}

.header_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    border: 2px solid #2b3990;
    padding: 10px;
}

#logo {
    width: 150px;
}

#tagline {
    text-align: right;
    margin: auto 0px;
}

.navigation a {
    height: 30px;
    border: 2px solid #2b3990;
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
    color: #2b3990;
    text-decoration: none;
    font-size: 1.5em;
}

.navigation a:hover {
    background-color: #2b3990;
    color: white;
}

#large_display {
    border: 2px solid #2b3990;
}

.recipe_header img{
    width: calc((90vw - 4px) / 3);
    height: 20vw;
    object-fit: cover;
}

.two_col_grid {
    display: grid;
    column-span: 3;
    grid-template-columns: 1fr 1fr;
}

.three_col_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.three_col_grid > * {
    border: 2px solid #2b3990;
}

.three_col_img {
    width: calc((90vw - 20px)/3);
    height: calc((90vw - 20px)/3);
    overflow: hidden;
}

.three_col_img img {
    height: 30vw;
    transition: all 1s ease-in-out;
}

.three_col_img img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

#news {
    grid-column: 2/-1;
}

#footer_details {
    margin-top: 10px;
    border: none;
    text-align: center;
}


